# Importing Libraries

In [143]:
import pandas as pd
import numpy as np

# Preprocessing

In [173]:
dataset=pd.read_csv("imdb_processed.csv")
# dataset.head(2)

In [174]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8451 entries, 0 to 8450
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8451 non-null   int64
 1   title       8451 non-null   object
 2   year        8451 non-null   float64
 3   kind        8451 non-null   object
 4   genre       8384 non-null   object
 5   rating      8135 non-null   float64
 6   vote        8135 non-null   float64
 7   country     8152 non-null   object
 8   language    8052 non-null   object
 9   cast        8280 non-null   object
 10  director    7140 non-null   object
 11  composer    5722 non-null   object
 12  writer      7204 non-null   object
 13  runtime     6798 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 924.5+ KB

In [175]:
dataset.head(3)

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
0,0,Dinosaur Planet,2003.0,tv mini series,"['Documentary', 'Animation', 'Family']",7.7,474.0,['United States'],['English'],"['Christian Slater', 'Scott Sampson']",NaN,NaN,"['Mike Carrol', 'Mike Carroll', 'Georgann Kane']",50.0
1,1,Get Up and Dance!,1994.0,video movie,['Family'],8.1,18.0,['United States'],['English'],"['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...",['Steve Purcell'],NaN,NaN,83.0
2,2,8 Man,1992.0,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],['Carole King'],"['Kazumasa Hirai', 'Jirô Kuwata', 'Junko Suzuki']",NaN

In [177]:
#droping all records which doesn't have rating
dataset.drop(dataset[dataset["rating"].isna()].index,inplace=True)

In [178]:
import re
exp=r"'([^']*)'"
def joiner(data):
    if type(data)==str:
        result=re.findall(exp,data)
        final=[]
        for res in result:
            if len(res.split(" "))>1:
                final.append("_".join(res.split(" ")))
            else:
                final.append(res)
        return " ".join(final)
    else:
        return " "
dataset["genre"]=dataset["genre"].apply(lambda data: joiner(data))
dataset["country"]=dataset["country"].apply(lambda data: joiner(data))
dataset["language"]=dataset["language"].apply(lambda data: joiner(data))
dataset["cast"]=dataset["cast"].apply(lambda data: joiner(data))
dataset["director"]=dataset["director"].apply(lambda data: joiner(data))	
dataset["composer"]=dataset["composer"].apply(lambda data: joiner(data))	
dataset["writer"]=dataset["writer"].apply(lambda data: joiner(data))

In [189]:
def changer(a):
    if (a>=8):
        return "good"
    elif (a>=5 and a<8):
        return "average"
    else:
        return "below_average"
dataset['rating']=dataset['rating'].apply(lambda a : changer(a))

In [186]:
dataset['runtime'] = dataset['runtime'].fillna(0)

In [195]:
def year_categorizer(a):
    if (a>=1914 and a<=1919):
        return "10s"
    elif (a>=1920 and a<=1929):
        return "20s"
    elif (a>=1930 and a<=1939):
        return "30s"
    elif (a>=1940 and a<=1949):
        return "40s"
    elif (a>=1950 and a<=1959):
        return "50s"
    elif (a>=1960 and a<=1969):
        return "60s"
    elif (a>=1970 and a<=1979):
        return "70s"
    elif (a>=1980 and a<=1989):
        return "80s"
    elif (a>=1990 and a<=1999):
        return "90s"
    else:
        return "2000s"
dataset['year']=dataset['year'].apply(lambda a : year_categorizer(a))

In [197]:
dataset.drop("vote",axis=1,inplace=True)

In [199]:
dataset.drop("Unnamed: 0",axis=1,inplace=True)